{% extends "base.html"%}


{% block head_in_base %}
<link rel="stylesheet" href="{{ url_for('static', path='prjct/new_project_form.css') }}"> 

<script>
    
    /* https://stackoverflow.com/questions/73356104/how-to-prevent-page-reload-on-form-input-with-fastapi
       https://developer.mozilla.org/en-US/docs/Web/API/FormData/FormData
    */
    function submitForm(event){
        // получать информацию о каждой форме через эвент
        var data = new FormData(event.target);
        data.append("prjct_name", "{{data.prjct_name}}")
        
        data_dict = {};
        for(let [name, value] of data) {
            data_dict[name] = value;    
            }
        url = '/pages/prjct/new-connection'
        fetch(url, {
            method: 'POST',
            body: data,
        }).then(response => response.status)
        .then(status => {if (status==200){addFilledConnectionForm(data_dict)} })
        .catch(error => {
                    console.error(error);
                }); 
        event.target.parentNode.remove()
        event.preventDefault();
    }
    
    function addNewConnectionForm(){
        container = document.getElementsByClassName('form_connections_container')[0];
        template = document.getElementById("connectionTemplate");
        container.appendChild(template.content.cloneNode(true));
    }

    function addFilledConnectionForm(data_dict){
        container = document.getElementsByClassName('form_connections_container')[0];
        template = document.getElementById("filledConnectionTemplate");
        newForm = template.content.cloneNode(true);
        newForm.querySelectorAll('.goToConnection')[0].setAttribute('onclick',
        `document.getElementsByName("goTo${data_dict['name'].trim()}Form")[0].submit()`);
        newForm.querySelectorAll('.goToConnection form')[0].name = `goTo${data_dict['name'].trim()}Form`;
        newForm.querySelectorAll('.goToConnection form')[0].action = `/pages/struct/{{data.prjct_name}}/${data_dict['name'].trim()}/`;
        newForm.querySelectorAll("input[name=name]")[0].value = data_dict['name'].trim();
        newForm.querySelectorAll('input[name=host]')[0].value = data_dict['host'].trim();
        newForm.querySelectorAll('input[name=port]')[0].value = data_dict['port'].trim();
        newForm.querySelectorAll('input[name=db_name]')[0].value = data_dict['db_name'].trim();
        newForm.querySelectorAll('input[name=db_schema]')[0].value = data_dict['db_schema'].trim();
        newForm.querySelectorAll('input[name=user]')[0].value = data_dict['user'].trim();
        newForm.querySelectorAll('input[name=pwd]')[0].value = data_dict['pwd'].trim();
        newForm.querySelectorAll('input[name=api_key]')[0].value = data_dict['api_key'].trim();
        items = newForm.querySelectorAll("input");
        for (i = 0; i< items.length; ++i)
            if (!items[i].value){
                items[i].parentNode.remove();
            }
        container.appendChild(newForm);
    }

    function deleteConnection(btn){
        prjct_name = "{{data.prjct_name}}";
        connection_name = btn.parentNode.querySelectorAll("input.input_header")[0].value;
        url=`/data/delete-connection?prjct_name=${prjct_name}&c0nnection_name=${connection_name}`;
        fetch(url, {
            method: 'DELETE',
        }); 
    }

    function checkTables(btn){
        const prjct_name = "{{data.prjct_name}}";
        const connection_name = btn.parentNode.querySelectorAll("input.input_header")[0].value;
        const container = btn.parentNode.parentNode.parentNode;
        const url=`/session/check-tables?prjct_name=${prjct_name}&cn_name=${connection_name}`;
        btn.className = "buttton__connection_form connection_check_content_processing";
        //btn.querySelectorAll("sup")[0].innerHTML = "*";
        btn.querySelectorAll("sup")[0].className = "connection_check_inner connection_check_content_processing_inner";
        //    "NAME": "${container.querySelectorAll('input[name=db_name]')[0].value}",
        //    "SCHEMA": "${container.querySelectorAll('input[name=db_schema]')[0].value}"
        
        fetch(url, {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        }).then(response=>{ 
            response.json().then(
                result=> {
                    console.log(result);
                    if(result["result"])
                        {
                            btn.className = "buttton__connection_form connection_check_content_success";
                            //btn.querySelectorAll("sup")[0].innerHTML = "✔";
                            btn.querySelectorAll("sup")[0].className = "connection_check_inner";
                        } 
                    else{
                            btn.className = "buttton__connection_form connection_check_content_fail";
                            //btn.querySelectorAll("sup")[0].innerHTML = "✖";
                            btn.querySelectorAll("sup")[0].className = "connection_check_inner";
                    }
                    
            }) }); 
    }

    function checkConnection(btn){
        const prjct_name = "{{data.prjct_name}}";
        const connection_name = btn.parentNode.querySelectorAll("input.input_header")[0].value;
        const container = btn.parentNode.parentNode.parentNode;
        const type_drv = btn.parentNode.parentNode.parentNode.querySelectorAll("input[name=drv]")[0].value;
        const url=`/session/new-und-check?prjct_name=${prjct_name}&cn_name=${connection_name}&cn_type=${type_drv}`;
        btn.className = "buttton__connection_form connection_check_content_processing";
        btn.querySelectorAll("sup")[0].innerHTML = "*";
        btn.querySelectorAll("sup")[0].className = "connection_check_inner connection_check_content_processing_inner";
        //    "NAME": "${container.querySelectorAll('input[name=db_name]')[0].value}",
        //    "SCHEMA": "${container.querySelectorAll('input[name=db_schema]')[0].value}"
        
        fetch(url, {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        }).then(response=>{ 
            response.json().then(
                result=> {
                    console.log(result);
                    if(result["result"])
                        {
                            btn.className = "buttton__connection_form connection_check_content_success";
                            btn.querySelectorAll("sup")[0].innerHTML = "✔";
                            btn.querySelectorAll("sup")[0].className = "connection_check_inner";
                        } 
                    else{
                            btn.className = "buttton__connection_form connection_check_content_fail";
                            btn.querySelectorAll("sup")[0].innerHTML = "✖";
                            btn.querySelectorAll("sup")[0].className = "connection_check_inner";
                    }
                    
            }) }); 
    }


</script>
{% endblock %}

{% block content %}
<h1>
    {{data.prjct_name}}
</h1>

<h2>
    {{data.prjct_description}}
</h2>

<div class="menu_block">
    <div class="menu_button_block">
        
        <div class="menu_button back_menu" onclick="location.href='/';">
                <span class="menu_button_text back_symbol"><</span>
                <div class="menu_botton_subtext_wrapper">
                    <span class="button_subtext">Previous step</span>
                </div>
            </div>
        
    </div>
    <div class="menu_button_block">
        
        <div class="menu_button add_connection_menu" onclick="addNewConnectionForm()">
                <span class="menu_button_text plus">+</span>
                <div class="add_connection menu_botton_subtext_wrapper">
                    <span class="button_subtext">New connection</span>
                </div>
            </div>
        
    </div>
</div>


<div class="form_connections_container">
    {% for connection in  data.connections%}
        <div class="form_wrapper_" tabindex="-1">
            <div class="form_wrapper_header">
                <div class="form_header_content">
                    
                    <div class="input_form_header input_form" >
                        <input class="input_header" type="text" value="{{connection['cn_name']}}" name="name" disabled>
                    </div>

                    <!-- Btns.... -->
                    <div class="buttton__connection_form connection_check_content_undef"
                    onclick="checkConnection(this)">
                        [<sup class="connection_check_inner">?</sup>]
                    </div>
                    
                    <div class="buttton__connection_form connection_check_content_undef"
                    onclick="checkTables(this)">
                        |<sup class="connection_check_inner">-|-</sup>|
                    </div>

                    <div class="buttton__connection_form" onclick="document.getElementsByName('goTo{{connection['cn_name']}}Form')[0].submit()">
                        ->
                        <form name="goTo{{connection['cn_name']}}Form" action="/pages/struct/{{data.prjct_name}}/{{connection['cn_name']}}/" method='post'>
                        </form>
                    </div>

                    <div class="buttton__connection_form"
                    onclick="deleteConnection(this);this.parentNode.parentNode.parentNode.remove()">
                        x
                    </div>
                </div>
            </div>
    
            <div class="form_content">
                <div class="input_form_disabled" >
                    <input type="text" value="{{connection['cn_drv']}}" name="drv"  disabled>
                </div>
                <div class="input_form_disabled" >
                    <input type="text" value="{{connection['cn_is_target']}}" name="is_target"  disabled>
                </div>
                
                {% if connection['cn_host'] %}
                <div class="input_form_disabled">
                    <input type="text" value="{{connection['cn_host']}}"  name="host"  disabled>
                </div>
                {% endif %}

                {% if connection['cn_port'] %}
                <div class="input_form_disabled" >
                    <input type="text" value="{{connection['cn_port']}}" name="port"  disabled>
                </div>
                {% endif %}

                {% if connection['cn_db']%}
                <div class="input_form_disabled" >
                    <input type="text" value="{{connection['cn_db']}}" name="db_name" disabled>
                </div>
                {% endif %}

                {% if connection['cn_schema'] %}
                <div class="input_form_disabled" >
                    <input type="text" value="{{connection['cn_schema']}}" name="db_schema" disabled>
                </div>
                {% endif %}

                {% if connection['cn_user'] %}
                <div class="input_form_disabled" >
                    <input type="text" value="{{connection['cn_user']}}" name="user" disabled>
                </div>
                {% endif %}

                {% if connection['cn_pwd'] %}
                <div class="input_form_disabled" >
                    <input type="password" value="{{connection['cn_pwd']}}" name="pwd" disabled>
                </div>
                {% endif %}

                {% if connection['cn_apikey'] %}
                <div class="input_form_disabled" >
                    <input type="password" value="{{connection['cn_apikey']}}" name="api_key" disabled>
                </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>

<template id="connectionTemplate">
    <div class="form_wrapper" tabindex="-1">
        <form class="ConnectForm" action="" onsubmit="submitForm(event)" >
            <div class="form_wrapper_header form_wrapper_connection_empty">
                <div class="form_header_content">
                    
                    <div class="input_form_header input_form " >
                        <input class="input_header" type="text" placeholder="New source connection name" name="name" required>
                    </div>

                    <div class="buttton__connection_form" 
                    onclick="this.parentNode.parentNode.parentNode.parentNode.remove()">
                        x
                    </div>
                </div>
            </div>
       
            <div class="form_content">
                <div class="input_form">
                    <input type="text" placeholder="driver" name="driver" >
                </div>
                <div class="input_form">
                    <input type="checkbox" aria-label="Target base (otherwise sorce base)" name="is_target" >
                </div>
                <div class="input_form">
                    <input type="text" placeholder="host" name="host" >
                </div>
                <div class="input_form" >
                    <input type="text" placeholder="port" name="port" >
                </div>
                <div class="input_form" >
                    <input type="text" placeholder="database name" name="db_name" >
                </div>
                <div class="input_form" >
                    <input type="text" placeholder="database schema" name="db_schema" >
                </div>
                <div class="input_form" >
                    <input type="text" placeholder="user" name="user" >
                </div>
                <div class="input_form" >
                    <input type="password" placeholder="pass" name="pwd" >
                </div>
                <div class="input_form" >
                    <input type="password" placeholder="API key" name="api_key" >
                </div>
                <div class="input_form input_form_submit" >
                    <input type="submit" value="Submit">
                </div>
            </div>
        </form>
    </div>
</template>


<template id="filledConnectionTemplate">
    <div class="form_wrapper_" tabindex="-1">
            <div class="form_wrapper_header">
                <div class="form_header_content">
                    
                    <div class="input_form_header input_form " >
                        <input class="input_header" type="text"  name="name" disabled>
                    </div>

                    <!-- Btns.... -->
                    <div class="buttton__connection_form connection_check_content_undef"
                    onclick="checkConnection(this)">
                        [<sup class="connection_check_inner">?</sup>]
                    </div>
                    
                    <div class="buttton__connection_form connection_check_content_undef"
                    onclick="checkTables(this)">
                        |<sup class="connection_check_inner">-|-</sup>|
                    </div>
                    <div class="buttton__connection_form goToConnection" onclick="">
                        ->
                        <form name="" action="" method='post'>
                        </form>
                    </div>

                    <div class="buttton__connection_form"
                    onclick="deleteConnection(this);this.parentNode.parentNode.parentNode.remove()">
                        x
                    </div>
                </div>
            </div>
    
            <div class="form_content">
                <div class="input_form_disabled">
                    <input type="text"   name="host"  disabled>
                </div>

                <div class="input_form_disabled" >
                    <input type="text"  name="port"  disabled>
                </div>

                <div class="input_form_disabled" >
                    <input type="text"  name="db_name" disabled>
                </div>

                <div class="input_form_disabled" >
                    <input type="text"  name="db_schema" disabled>
                </div>

                <div class="input_form_disabled" >
                    <input type="text"  name="user" disabled>
                </div>

                <div class="input_form_disabled" >
                    <input type="password" name="pwd" disabled>
                </div>

                <div class="input_form_disabled" >
                    <input type="password" name="api_key" disabled>
                </div>
            </div>
    </div>
</template>

{% endblock %}