{% extends "base.html"%}

{% block head_in_base %}
<link rel="stylesheet" href="{{ url_for('static', path='search.css') }}"> 
<link rel="stylesheet" href="{{ url_for('static', path='prjct/start_page.css') }}"> 

<script>
    var lastOpt;
    function choiseMenuOption(event, opt){
        
        clearMenuSelection();
        
        if (opt == lastOpt){
            lastOpt = null;
            return null;
        }
        lastOpt = opt;
        // show necessary content
        document.getElementById(opt).style.display = "flex";
        // hilight necessary btn
        event.currentTarget.className += " btn_active";
    }

    function clearMenuSelection(){
        var i, tabcontent, tablinks;
        // clear all tab content visibilities (use display=none)
        tabcontent = document.getElementsByClassName("form_container");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        // clear all button
        tablinks = document.getElementsByClassName("tab_btn");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" btn_active", "");
        }
    }
    
    function getResultsFromSearchQuery(query){
        url = '/data/retrieve-search-results?search_query='+query;
        fetch(url, {
            method: 'GET',
        })
        .then(response =>response.json())
        .then(data=> {if (data['result'].length)
        clearOpenResults();
            data['result'].forEach( (res) =>{
                addResultString(res);
            })
        })
        .catch(error => {
                    console.error(error);
                });
    }

    function clearOpenResults(){
        document.getElementById('openResults').innerHTML = '';
    }

    function addResultString(data){
        container = document.getElementById('openResults');
        template = document.getElementById("openResult");
        resultBlock = template.content.cloneNode(true);
        resultBlock.querySelectorAll(".toOpenPrjct")[0].action = "/pages/prjct/open-project?prjct_name=" + data["prjct_name"];
        resultBlock.querySelectorAll(".result_project_name")[0].innerHTML = data["prjct_name"];
        resultBlock.querySelectorAll(".result_project_description")[0].innerHTML = data["prjct_description"];
        resultBlock.querySelectorAll(".result_project_date")[0].innerHTML = data["created_at"];
        
        container.appendChild(resultBlock);

    }

    function finalyOpenProject(link){
        link.querySelectorAll(".toOpenPrjct")[0].submit();
    }
</script>
{% endblock %}


{% block content %}

<div class="menu_container">
    <div class="tab_btns_container">
        <div class="tab_btn" onclick="choiseMenuOption(event, 'opt1')">
            Create
        </div>
        <div class="tab_btn" onclick="choiseMenuOption(event, 'opt2')">
            Open
        </div>
    </div>

    <div class="forms_menu_container">
        <div id="opt1" class="form_container form_container1">
            <form action="/pages/prjct/new-project" method="post">
                <div class="input_form" >
                    <!-- Добавить проверку на уникальность имени -->
                    <!-- Добавить скрипт проверки по введению -->
                    <input name="prjct_name" type="text" placeholder="Project Name" required>
                </div>
                <div class="input_form" >
                    <input name="prjct_description" type="text" placeholder="Project Description">
                </div>
                <div class="input_form input_form_submit">
                    <input type="submit" value="Create!">
                </div>
            </form>
        </div>
        <div id="opt2" class="form_container form_container2">
            <div class="open_container">
                <div class="open_search_container">
                    <div class="input_form">
                        <input type="search" oninput="getResultsFromSearchQuery(this.value)">
                    </div>
                </div>
                <div id="openResults" class="open_results">
                    {% for line in data.result %}
                    <a class="link_to_project" onclick="finalyOpenProject(this)">
                        <form class="toOpenPrjct" method="post" action="/pages/prjct/open-project?prjct_name={{line["prjct_name"]}}"></form>
                        <div class="result_prjct_block">
                            <div class="result_overflow">
                                
                            </div>
                            <div class="result_project">
                                <p>
                                    <span class="result_project_name">
                                        {{line["prjct_name"]}}
                                    </span>
                                    <span class="result_project_description">
                                        {{line["prjct_description"]}}
                                    </span>
                                </p>
                            </div> 
                            
                            <div class="result_project_date">
                                {{line["created_at"]}}
                            </div>
                        </div>
                    </a>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
</div>

<template id="openResult">
    <a class="link_to_project" onclick="finalyOpenProject(this)">
        <form class="toOpenPrjct" method="post" action=""></form>
        <div class="result_prjct_block">
            <div class="result_overflow">    
            </div>
            <div class="result_project">
                <p>
                    <span class="result_project_name">
                        1
                    </span>
                    <span class="result_project_description">
                        2
                    </span>
                </p>
            </div> 
            
            <div class="result_project_date">
                3
            </div>
        </div>
    </a>
</template>

{% endblock %}