{% extends "base.html"%}

{% block head_in_base %}
<link rel="stylesheet" href="{{ url_for('static', path='search.css') }}"> 
<script>
    
    function ClearUL(){
        const ul = document.getElementById('ResultList');
        ul.innerHTML = '';
    }
    
    function Add2UL(word){
        const ul = document.getElementById('ResultList');
        /* let word = document.getElementById("InputSearch").value; */
        document.getElementById('ResultList').innerHTML += ('<li id="'+word+'" onclick="AddWordToInput(this.id)"> <span class="li_search">'+word+' </span></li>');
    }

    async function getSearchData(){
        word = document.getElementById("InputSearch").value;
        const prjct_name = "{{prjct_name}}";
        const connection_name = "{{cn_name}}";
        url = `/session/find-table?prjct_name=${prjct_name}&cn_name=${connection_name}&word=${word}`;
        await fetch(url, {method:'POST'}).then((response) => response.json()) //2
            .then((data) => {
                console.log(data);
                 response_data = data['result'];
                 FillUL(response_data); //3
                 //searchIn();
                 });
    }

    function FillUL(data){
        ClearUL();
        for (const element of data) {
            Add2UL(element);
        }
    }

    function searchIn(){
        word = document.getElementById("InputSearch").value;
        document.getElementById("InputSearchForm").action = "/pages/struct/" + word;
    }

    function AddWordToInput(word){
        document.getElementById("InputSearch").value = word;
        document.getElementById("InputSearchForm").action = "/pages/struct/" + word;
        document.getElementById("InputSearchForm").submit();
    }



</script>

{% block head_in_search%} {% endblock %}

{% endblock %}

{% block header %}
<div class="search_menu_box">
    <form id="InputSearchForm"  method="post" action="">
    <div class="searchbox search_box_element">
        
        <div class="input_search">  
            
                <!-- onchange="Add2UL()"  ondblclick="ClearUL()" -->
                <input id="InputSearch" type="text" autocomplete="off" placeholder="my search"  oninput="getSearchData()" >
            
        </div>
    </div>
    <div class="result_box">
        <ul id="ResultList">
            
        </ul>
    </div>
</form>
</div>
{% endblock %}