{% extends "search.html"%}

{% block head_in_search %}
<link rel="stylesheet" href="{{ url_for('static', path='table.css') }}"> 
{% endblock %}


{% block content %}

{% if results %}



<p>
    Search for table columns {{results.table_name}}
</p>
<p>
    Found {{results.cols|length}} items
</p> 



    <table>
        
            <tr>
                
                <th class="table-header">Column Name</th>
                <th class="table-header">Data Type</th>
                <th class="table-header">Data length</th>
                
            </tr>
        
        {%for col in  results.cols%}
        
        {% if col[-1]|int % 2 == 0 %}
        <tr>
            <td class="even tdleft" >{{ results.cols[col].name }}</td>
            <td class="even tdleft" >{{ results.cols[col].dtype }}</td>
            <td class="even tdcenter" >{{ results.cols[col].primary_key }}</td>
        </tr>
    
        {% else %}
        <tr>
            <td class="odd tdleft" >{{ results.cols[col].name }}</td>
            <td class="odd tdleft" >{{ results.cols[col].dtype }}</td>
            <td class="odd tdcenter" >{{ results.cols[col].primary_key }}</td>
        </tr>
        {%endif%}
        {%endfor%}
        
        
    
    </table> 
{% endif %}  
   

  
    
{% endblock %}
